.footer{
    background-color: var(--pr-txtcolor);
    padding: 40px 132px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.logo{
    margin-bottom: 40px;
}
.socials{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.footer-one p{
    color: var(--txt-white);
    margin-bottom: 10px;
}
.footer-two p{
    color: var(--txt-white);
    margin-bottom: 10px;
}
.footer-three p{
    color: var(--txt-white);
    margin-bottom: 10px;
}
.footer-four p{
    color: var(--txt-white);
    margin-bottom: 10px;
}
.footer-heading{
    font-weight: 700;
}
@media (max-width:1024px) {
    .footer{
        padding: 40px 60px;
    }
}
@media (max-width:820px) {
    .footer{
        padding: 40px 20px;
    }
  }
  @media (max-width:440px) {
    .footer{
        padding: 40px 10px;
    }
}