:root{
  --pr-color: #0070aa;
  --pr-black: #02161d;
  --pr-txtcolor: #71787b;
  --txt-white: #e4eaea;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: var(--pr-black);
}
.bg{
  padding-top: 30px;
  background-image: url('./assets/background-image.png');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
body{
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: var(--pr-black);
  

}
::-webkit-scrollbar{
  width: 10px;
  background-color: var(--pr-txtcolor);
}
::-webkit-scrollbar-thumb{
  background-color: var(--pr-color);
}
@media (max-width:1024px) {
  .bg{
    height: 50vh;
  }
}
@media (max-width:820px) {
  .bg{
    height: 59vh;
  }
}
@media (max-width:440px) {
  .bg{
    height: 73vh;
  }
}